
/* || Header */

/* Navbar */

#top-container {
  background-color: #f5eee6;
}

.nav-link {
  color: #8f8f8f;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
}

#top-container .fab {
  color: #8f8f8f;
  font-size: 1.8rem;
  padding: 0 18px;
  transition: font-size 0.3s, color 0.3s;
}

#top-container .fab:hover {
  color: #1DA1F2;
}

.navbar {
  padding: 0.1rem 0 0.8rem;
}

.navbar li {
  padding: 6px 16px;
  transition: opacity 0.3s;
}

.navbar .btn {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  color: #8f8f8f;
  box-shadow: none;
}

/* Hover effects */

.navbar .btn:hover{
  text-decoration: underline #8f8f8f 2.2px;
}

.navbar ul:hover > li:not(:hover){
  opacity: 0.5;
}

.navbar .social-icons:hover > a:not(:hover){
  opacity: 0.5;
}

.navbar a{
  transition: opacity 0.3s;
}

/* || Main Image */

/* General Styling */

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 7rem;
  font-weight: bold;
}

.main-img h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
}

.main-img {
  padding-top: 3%;
  text-align: center;
  position: relative;
  background-color: #fff;
}

/* Image components */

#img-chess {
  width: 5rem;
  position: absolute;
  left: 25%;
  top: 55rem;
}

#img-facebook {
  width: 9rem;
  position: absolute;
  left: 20%;
  top: 35rem;
}

#img-google {
  width: 7rem;
  position: absolute;
  left: 28%;
  top: 30rem;
}

#img-book {
  width: 13rem;
  position: absolute;
  left: 10%;
  top: 15rem;
}

#img-portrait {
  width: 15rem;
  padding-top: 3%;
  background-size: 1433px 385px;
}

#img-pen {
  width: 7rem;
  position: absolute;
  right: 13%;
  top: 33rem;
}

#img-football {
  width: 10rem;
  position: absolute;
  right: 20%;
  top: 17rem;
}

#img-screen {
  width: 15rem;
  position: absolute;
  right: 18%;
  top: 45rem;
}

.floating-s {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-ms {
  animation-name: floating-var;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-ls {
  animation-name: floating-var;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-l {
  animation-name: floating;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes floating-var {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/* Blur effect on all but hover */

.main-img{
  pointer-events: none;
}

.main-img > .blur{
  pointer-events: auto;
  transition: filter 0.7s linear;
}

.non-blur{
  pointer-events: none !important;
}

#img-portrait{
  pointer-events: none;
}

.main-img:hover > .blur:not(:hover){
    filter: blur(2.5px);
}

/* Info-Box-Visibilty */

.info-books {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  left: 10.2%;
  top: 15rem;
  margin-left: 13rem;
  z-index: 1;
}

#img-book:hover+.info-books {
  visibility: visible;
  opacity: 1;
}

.info-chess {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  left: 25.2%;
  top: 55rem;
  z-index: 1;
  margin-left: 5rem;
}

#img-chess:hover+.info-chess {
  visibility: visible;
  opacity: 1;
}

.info-football {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  right: 20.2%;
  top: 17rem;
  margin-right: 10rem;
  z-index: 1;
}

#img-football:hover+.info-football {
  visibility: visible;
  opacity: 1;
}

.info-screen {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  right: 18.2%;
  top: 45rem;
  margin-right: 15rem;
  z-index: 1;
}

#img-screen:hover+.info-screen {
  visibility: visible;
  opacity: 1;
}

.info-pen {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  right: 13.2%;
  top: 33rem;
  margin-right: 7rem;
  z-index: 1;
}

#img-pen:hover+.info-pen {
  visibility: visible;
  opacity: 1;
}

.info-marketing {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  left: 28.2%;
  top: 30rem;
  margin-left: 7rem;
  z-index: 1;
}

.img-marketing:hover+.info-marketing {
  visibility: visible;
  opacity: 1;
}

/* Info cards */
.info-box {
  font-family: 'Ubuntu', sans-serif;
  background-color: #FCFAF8;
}

.card-header {
  background-color: #f5eee6;
  font-weight: bold;
  font-size: 1.3rem;
}

.text-low-margin {
  margin-bottom: 0.2rem;
}

/* || Offcanas */

/* General Styling */

.offcanvas-header {
  background-color: #f5eee6;
  text-align: center;
}

.offcanvas-title {
  font-size: 2rem;
  color: #8f8f8f;
  font-family: 'Amatic SC', cursive;
}

.offcanvas-body {
  background-color: #FCFAF8;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #f5eee6 !important;
  font-family: 'Ubuntu', sans-serif;
}


/* Breakpoints */

@media (max-width: 1080px) {
  #img-chess {
    width: 3rem;
    top: 45rem;
  }

  .info-chess {
    top: 35rem;
    left: 23%;
  }

  #img-facebook {
    width: 5rem;
  }

  #img-google {
    width: 4rem;
    left: 18%;
  }

  .info-marketing {
    left: 20%;
  }

  #img-book {
    width: 7rem;
  }

  .info-books {
    left: 5%;
  }

  #img-pen {
    width: 4rem;
  }

  .info-pen {
    right: 11%;
  }

  #img-football {
    width: 5rem;
  }

  .info-football {
    right: 15%;
  }

  #img-screen {
    width: 8rem;
    top: 40rem;
  }

  .info-screen {
    top: 32rem;
    right: 10%;
  }

  #img-portrait {
    width: 10rem;
  }

  .main-img {
    padding-top: 1%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  #introduction {
    display: none;
  }

  #img-chess {
    width: 3rem;
    top: 25rem;
  }

  .info-chess {
    top: 15rem;
  }

  #img-facebook {
    width: 5rem;
    top: 15rem;
    left: 15%;
  }

  #img-google {
    width: 4rem;
    left: 18%;
    top: 10rem;
  }

  .info-marketing {
    top: 15rem;
  }

  #img-book {
    width: 5rem;
    top: 5rem;
  }

  #img-pen {
    width: 4rem;
    top: 13rem;
  }

  .info-pen {
    top: 13rem;
  }

  #img-football {
    width: 5rem;
    top: 7rem;
    right: 17%;
  }

  .info-football {
    top: 7rem;
  }

  #img-screen {
    width: 8rem;
    top: 20rem;
    right: 10%;
  }

  .info-screen {
    top: 10rem;
  }

  #img-portrait {
    width: 8rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
  }

  .footer {
    font-size: 0.7rem !important;
  }

  .info-box {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
  }

  .card-header {
    background-color: #f5eee6;
    font-weight: bold;
    font-size: 0.8rem !important;
  }

  .card-title {
    font-size: 0.8rem !important;
  }

  #img-chess {
    width: 2rem;
    top: 24rem;
    left: 18%;
  }

  .info-chess {
    top: 10rem;
  }

  #img-facebook {
    width: 3rem;
    top: 15rem;
    left: 12%;
  }

  #img-google {
    width: 3rem;
    left: 11%;
    top: 10rem;
  }

  .info-marketing {
    top: 5rem;
  }

  #img-book {
    width: 4rem;
    top: 5rem;
  }

  #img-pen {
    width: 3rem;
    top: 13rem;
  }

  #img-football {
    width: 4rem;
    top: 5rem;
    right: 5%;
  }

  .info-football {
    top: 5rem;
    right: 6%;
  }

  #img-screen {
    width: 6rem;
    top: 20rem;
    right: 4%;
  }

  .info-screen {
    top: 10rem;
    right: 0%;
  }

  #img-portrait {
    width: 7rem;
  }
}
